# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
# Your code here:

salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:

salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [10]:
# Your code here:

salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [13]:
# Your code here:

salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [14]:
# Your code here:

from scipy.stats import ttest_1samp

hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

# Perform one-sample t-test
t_stat, p_value = ttest_1samp(hourly_wages, 30)

# Display the results
print("t-statistic:", t_stat)
print("p-value:", p_value)

# Check significance at 95% confidence level
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: The hourly wage is not significantly different from $30/hr.")

t-statistic: 20.6198057854942
p-value: 4.3230240486229894e-92
Reject the null hypothesis: The hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [16]:
# Your code here:
from scipy.stats import ttest_1samp

# Assuming 'salaries' is your DataFrame and 'Annual Salary' is the column containing annual salaries
police_salaries = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

# Perform one-sample t-test
t_stat, p_value = ttest_1samp(police_salaries, 86000)

# Display the results
print("t-statistic:", t_stat)
print("p-value:", p_value)

# Check significance at 95% confidence level for a one-sided test
alpha = 0.05
if p_value / 2 < alpha and t_stat > 0:
    print("Reject the null hypothesis: Police salaries are higher than $86000/year.")
else:
    print("Fail to reject the null hypothesis: No sufficient evidence that police salaries are higher than $86000/year.")

t-statistic: 3.081997005712994
p-value: 0.0020603403550965137
Reject the null hypothesis: Police salaries are higher than $86000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [17]:
# Your code here:

import pandas as pd

# Assuming 'salaries' is your DataFrame
cross_table = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

# Extract the count of hourly workers
hourly_counts = cross_table['Hourly']

# Find the department with the most hourly workers
department_most_hourly = hourly_counts.idxmax()

print("Department with the most hourly workers:", department_most_hourly)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [18]:
# Your code here:

from scipy.stats import ttest_1samp

streets_san_hourly_wages = salaries[(salaries['Department'] == 'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')]['Annual Salary'].dropna()

# Perform one-sample t-test
t_stat, p_value = ttest_1samp(streets_san_hourly_wages, 35)

# Display the results
print("t-statistic:", t_stat)
print("p-value:", p_value)

# Check significance at 95% confidence level for a one-sided test
alpha = 0.05
if p_value / 2 < alpha and t_stat < 0:
    print("Reject the null hypothesis: Hourly wages are less than $35/hour for workers in 'STREETS & SAN'.")
else:
    print("Fail to reject the null hypothesis: No sufficient evidence that hourly wages are less than $35/hour for workers in 'STREETS & SAN'.")

t-statistic: -9.567447887848152
p-value: 3.3378530564707717e-21
Reject the null hypothesis: Hourly wages are less than $35/hour for workers in 'STREETS & SAN'.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval.
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers.

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [19]:
# Your code here:

from scipy.stats import t, sem

hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

# Calculate the mean and standard error of the mean (SEM)
mean_hourly_wage = hourly_wages.mean()
sem_hourly_wage = sem(hourly_wages)

# Specify the confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(hourly_wages) - 1

# Compute the confidence interval
confidence_interval = t.interval(confidence_level, degrees_of_freedom, loc=mean_hourly_wage, scale=sem_hourly_wage)

# Display the results
print(f"Mean Hourly Wage: ${mean_hourly_wage:.2f}")
print(f"95% Confidence Interval: (${confidence_interval[0]:.2f}, ${confidence_interval[1]:.2f})")

Mean Hourly Wage: $32.79
95% Confidence Interval: ($32.52, $33.05)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [21]:
# Your code here:

police_salaries = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

# Calculate the mean and standard error of the mean (SEM)
mean_salary_wage = police_salaries.mean()
sem_salary_wage = sem(police_salaries)

# Specify the confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(police_salaries) - 1

# Compute the confidence interval
confidence_interval = t.interval(confidence_level, degrees_of_freedom, loc=mean_salary_wage, scale=sem_salary_wage)

# Display the results
print(f"Mean Salary Wage: ${mean_salary_wage:.2f}")
print(f"95% Confidence Interval: (${confidence_interval[0]:.2f}, ${confidence_interval[1]:.2f})")

Mean Salary Wage: $86486.41
95% Confidence Interval: ($86177.06, $86795.77)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction.

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: